::selection {
	color: #FFF;
	background: #e84700;
}
.loader-inner{
	background-color:#e84700;
}
a:hover, a:focus{
color: #e84700;
}
.apps_header{
background-color: #e84700;
}
.logo a span {
color: #fff;
}
.apps_menu ul li a{
color: #fff;
}
.apps_menu ul li a:after{
color: #fff;
}
.apps_price_table .apps_table a{
background: #e84700;
}
.apps_price_table .apps_table a:hover{
background:#e84700;
}


.slider_logo span {
color: #e84700;
}
.apps_divider span{
color: #e84700;
}
.apps_template_feature_tab ul li:hover a p.apps_tab_heading{
color: #e84700;
}
.apps_template_feature_tab ul li:hover a svg {
fill: #e84700;
}
.apps_template_feature_tab ul li.active a svg{
fill: #e84700;
}
.apps_template_feature_tab ul li.active a p.apps_tab_heading{
color: #e84700;
}
.apps_template_feature_tab ul li.active:after{
color: #e84700;
}
.apps_icon ul li:hover:after{
color: #e84700;
}
.apps_icon ul li a:hover{
color: #e84700;
border-color: #e84700;
}
.apps_feature_list_item:hover > .detail > h4{
color: #e84700;
}
.apps_feature_list_item:hover > .icon{
background: #e84700;
}
.apps_services:hover .icon{
color: #e84700;
border-color: #e84700;
}
.apps_services:hover .icon:after{
color: #e84700;
}
.apps_services:hover h4{
color: #e84700;
}
.apps_services_horizontal:hover .icon {
border-color: #e84700;
color: #e84700;
}
.apps_services_horizontal:hover .icon:after{
color: #e84700;
}
.apps_services_horizontal .icon:before{
color: #e84700;
}
.apps_services_horizontal:hover h4{
color: #e84700;
}
.testimonials_q{
color: #e84700;
}
.apps_price_table .apps_table .table_head h3{
color: #e84700;
}
.apps_price_table .apps_table .price_offer:after{
color: #e84700;
}
.apps_input:before{
color: #e84700;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
background-color: #e84700;
border-color: #e84700;
}
.apps_menu_toggle{
background-color: #e84700;
}
.apps_portfolio ul li a:after{
color: #e84700;
}
.apps_menu ul li.active {
	border-bottom:2px solid #fff;
	}


	
.logo a{
	color:#FFFFFF;
}	
.apps_menu ul li.active a{
	color:#FFFFFF;	
}
.slider_in_tab2 .carousel .carousel-indicators li.active {
    background-color: #e84700;
}	
.apps_portfolio ul li a.active {
    color: #e84700;
}
.apps_input textarea:hover, .apps_input textarea:focus,
.apps_input input:hover, .apps_input input:focus{
	border-color: #e84700;
}
.contact_btn{
    background-color: #e84700;
    border-color: #e84700;	
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active:focus, .open .dropdown-toggle.btn-default, .btn-default:active:hover{
    background-color: #e84700;
    border-color: #e84700;		
}		